{% extends 'Base.html' %}
{% block title %}
    آگاهی برند
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="question {{ A1.code }}">
            <h5>
                {{ A1.code }}
                {{ A1.title }}
            </h5>
            {{ A1_form }}
            <div class="clearfix">
                <button type="button" value="next" name="{{ A1.code }}"
                        class="float-left btn btn-primary">
                    پرسش
                    بعد
                </button>
            </div>
        </div>
        <div class="question {{ A2.code }}">
            <h5>
                {{ A2.code }}
                {{ A2.title }}
            </h5>
            <div id="option">
                {{ A2_form }}
                <div class="clearfix">
                    <button type="button" name="{{ A2.code }}" value="previous"
                            class="float-right btn btn-primary">
                        پرسش قبل
                    </button>
                    <button type="button" name="{{ A2.code }}" value="next"
                            class="float-left btn btn-primary">پرسش
                        بعد
                    </button>
                </div>
            </div>
        </div>
        <div class="question {{ A4.code }}">
            <h5>
                {{ A4.code }}
                {{ A4.title }}
            </h5>
            <div id="option">
                {{ A4_form }}
                <div class="clearfix">
                    <button type="button" name="{{ A4.code }}" value="previous"
                            class="float-right btn btn-primary">
                        پرسش قبل
                    </button>
                    <button type="button" name="{{ A4.code }}" value="next"
                            class="float-left btn btn-primary">پرسش
                        بعد
                    </button>
                </div>
            </div>
        </div>
        <div class="question {{ A6.code }}">
            <h5>
                {{ A6.code }}
                {{ A6.title }}
            </h5>
            <div id="option">
                {{ A6_form }}
                <div class="clearfix">
                    <button type="button" name="{{ A6.code }}" name="previous"
                            class="float-right btn btn-primary">
                        پرسش قبل
                    </button>
                    <button type="button" name="{{ A6.code }}" value="next"
                            class="float-left btn btn-primary">پرسش
                        بعد
                    </button>
                </div>
            </div>
        </div>
        <div class="question {{ A7.code }}">
            <h5>
                {{ A7.code }}
                {{ A7.title }}
            </h5>
            <div id="option">
                {{ A7_form.as_p }}
                <div class="clearfix">
                    <button type="button" name="{{ A7.code }}" value="previous"
                            class="float-right btn btn-primary">
                        پرسش قبل
                    </button>
                    <button type="button" name="{{ A7.code }}" value="next"
                            class="float-left btn btn-primary">پرسش
                        بعد
                    </button>
                </div>
            </div>
        </div>
        <div class="question {{ A8.code }}">
            <h5>
                {{ A8.code }}
                {{ A8.title }}
            </h5>
            <div id="option">
                {{ A8_form.as_p }}
                <div class="clearfix">
                    <button type="button" name="{{ A8.code }}" value="previous"
                            class="float-right btn btn-primary">
                        پرسش قبل
                    </button>
                    <button type="button" name="{{ A8.code }}" value="next"
                            class="float-left btn btn-primary">پرسش
                        بعد
                    </button>
                </div>
            </div>
        </div>
        <div class="question {{ A9.code }}">
            <h5>
                {{ A9.code }}
                {{ A9.title }}
            </h5>
            <div id="option">
                {{ A9_form.as_p }}
                <div class="clearfix">
                    <button type="button" name="{{ A9.code }}" value="previous"
                            class="float-right btn btn-primary">
                        پرسش قبل
                    </button>
                    <button type="button" name="{{ A9.code }}" value="next"
                            class="float-left btn btn-primary">پرسش
                        بعد
                    </button>
                </div>
            </div>
        </div>
        <div class="question {{ A10.code }}">
            <h5>
                {{ A10.code }}
                {{ A10.title }}
            </h5>
            <div id="option">
                {{ A10_form.as_p }}
                <div class="clearfix">
                    <button type="button" name="{{ A10.code }}" value="previous"
                            class="float-right btn btn-primary">
                        پرسش قبل
                    </button>
                    <button type="button" name="{{ A10.code }}" value="next"
                            class="float-left btn btn-primary">پرسش
                        بعد
                    </button>
                </div>
            </div>
        </div>
        <div class="question {{ A11.code }}">
            <h5>
                {{ A11.code }}
                {{ A11.title }}
            </h5>
            <div id="option">
                {{ A11_form.as_p }}
                <div class="clearfix">
                    <button type="button" name="{{ A11.code }}" value="previous"
                            class="float-right btn btn-primary">
                        پرسش قبل
                    </button>
                    <button type="button" name="{{ A11.code }}" value="next"
                            class="float-left btn btn-primary">پرسش
                        بعد
                    </button>
                </div>
            </div>
        </div>
        <div class="question {{ A12.code }}">
            <h5>
                {{ A12.code }}
                {{ A12.title }}
            </h5>
            <div id="option">
                {{ A12_form.as_p }}
                <div class="clearfix">
                    <button type="button" name="{{ A12.code }}" value="previous"
                            class="float-right btn btn-primary">
                        پرسش قبل
                    </button>
                    <button type="submit" class="float-left btn btn-success col-lg-4 col-md-4 col-sm-6 col-6">مرحله بعد</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block js %}
    <script>
        $('button').addClass('col-lg-5 col-md-5 col-sm-12 col-12')
        var A1_next_btn = $('button[type=button][value=next][name=A1]')
        var A2_next_btn = $('button[type=button][value=next][name=A2]')
        var A4_next_btn = $('button[type=button][value=next][name=A4]')
        var A6_next_btn = $('button[type=button][value=next][name=A6]')
        var A7_next_btn = $('button[type=button][value=next][name=A7]')
        var A8_next_btn = $('button[type=button][value=next][name=A8]')
        var A9_next_btn = $('button[type=button][value=next][name=A9]')
        var A10_next_btn = $('button[type=button][value=next][name=A10]')
        var A11_next_btn = $('button[type=button][value=next][name=A11]')
        var frm = $('form')
        A1_next_btn.click(function () {
            var checked_options = $('input[type=radio][name=A1]:checked')
            var count = checked_options.length
            if (count === 0) {
                alert('لطفا یک برند را انتخاب کنید')
                return false
            } else {
                var A2_options = $('input[type=checkbox][name=A2]')
                A2_options.prop('disabled', false)
                A2_options.prop('checked', false)
                $('.A2 label').removeClass('text-success')
                $('input[type=checkbox][name=A2][value=' + checked_options.val() + ']').attr('disabled', 'true')
                var id = $('input[type=checkbox][name=A2][value=' + checked_options.val() + ']').attr('id')
                $('label[for=' + id + ']').addClass('text-success')
                //$('label[for='++']')
                return true
            }
        });
        A2_next_btn.click(function () {
            var checked_options = $('input[type=checkbox][name=A2]:checked')
            var count = checked_options.length
            if (count < 2) {
                alert('لطفا حداقل دو برند را انتخاب کنید')
                return false
            } else {
                var A4_options = $('input[type=checkbox][name=A4]')
                A4_options.prop('disabled', false)
                A4_options.prop('checked', false)
                $('.A4 label').removeClass('text-muted')

                result = []
                $('input[type=checkbox][name=A2]:checked').each(function () {
                    result.push(parseInt($(this).val()))
                });
                result.push(parseInt($('input[type=radio][name=A1]:checked').val()))
                $('input[type=checkbox][name=A4]').each(function () {
                    if (!result.includes(parseInt($(this).val()))) {
                        $('input[type=checkbox][name=A4][value=' + $(this).val() + ']').attr('disabled', 'true')
                        var id = $('input[type=checkbox][name=A4][value=' + $(this).val() + ']').attr('id')
                        $('label[for=' + id + ']').addClass('text-muted')
                    }
                })
                return true
            }
        });
        A4_next_btn.click(function () {
            var checked_options = $('input[type=checkbox][name=A4]:checked')
            var count = checked_options.length
            if (count < 3) {
                alert('لطفا حداقل سه برند را انتخاب کنید')
                return false
            } else {
                //clear A6
                var A6_options = $('input[type=checkbox][name=A6]')
                A6_options.prop('disabled', false)
                A6_options.prop('checked', false)
                $('.A6 label').removeClass('text-muted')

                //setA6
                result = []
                $('input[type=checkbox][name=A4]:checked').each(function () {
                    result.push(parseInt($(this).val()))
                });
                $('input[type=checkbox][name=A6]').each(function () {
                    if (!result.includes(parseInt($(this).val()))) {
                        $('input[type=checkbox][name=A6][value=' + $(this).val() + ']').attr('disabled', 'true')
                        var id = $('input[type=checkbox][name=A6][value=' + $(this).val() + ']').attr('id')
                        $('label[for=' + id + ']').addClass('text-muted')
                    }
                })

                //clear A12
                var A12_options = $('select[class=A12]')
                A12_options.val('')
                A12_options.prop('disabled', false)

                //setA12
                $('select[class=A12]').each(function () {
                    if (!result.includes(parseInt($(this).attr('brand')))) {
                        $('select[class=A12][name=A12-' + $(this).attr('brand') + ']').attr('disabled', 'true')
                    }
                })
                return true
            }
        });
        A6_next_btn.click(function () {
            var checked_options = $('input[type=checkbox][name=A6]:checked')
            var count = checked_options.length
            if (count != 3) {
                alert('لطفا فقط سه برند را انتخاب کنید')
                return false
            } else {
                result = []
                $('input[type=checkbox][name=A6]:checked').each(function () {
                    result.push(parseInt($(this).val()))
                });
                //A7 clear
                var A7_options = $('input[type=number][class=A7]')
                A7_options.val('')
                A7_options.prop('disabled', false)
                //A7 set
                $('input[type=number][class=A7]').each(function () {
                    if (!result.includes(parseInt($(this).attr('brand')))) {
                        $('input[type=number][class=A7][name=A7-' + $(this).attr('brand') + ']').attr('disabled', 'true')
                    }
                })

                //A8 clear
                var A8_options = $('input[type=number][class=A8]')
                A8_options.val('')
                A8_options.prop('disabled', false)
                //A8 set
                $('input[type=number][class=A8]').each(function () {
                    if (!result.includes(parseInt($(this).attr('brand')))) {
                        $('input[type=number][class=A8][name=A8-' + $(this).attr('brand') + ']').attr('disabled', 'true')
                    }
                })


                //A9 clear
                var A9_options = $('input[type=number][class=A9]')
                A9_options.val('')
                A9_options.prop('disabled', false)
                //A8 set
                $('input[type=number][class=A9]').each(function () {
                    if (!result.includes(parseInt($(this).attr('brand')))) {
                        $('input[type=number][class=A9][name=A9-' + $(this).attr('brand') + ']').attr('disabled', 'true')
                    }
                })


                //A10 clear
                var A10_options = $('input[type=number][class=A10]')
                A10_options.val('')
                A10_options.prop('disabled', false)
                //A10 set
                $('input[type=number][class=A10]').each(function () {
                    if (!result.includes(parseInt($(this).attr('brand')))) {
                        $('input[type=number][class=A10][name=A10-' + $(this).attr('brand') + ']').attr('disabled', 'true')
                    }
                })

                //A11 clear
                var A11_options = $('select[class=A11]')
                A11_options.val('')
                A11_options.prop('disabled', false)
                //A11 set
                $('select[class=A11]').each(function () {
                    if (!result.includes(parseInt($(this).attr('brand')))) {
                        $('select[class=A11][name=A11-' + $(this).attr('brand') + ']').attr('disabled', 'true')
                    }
                })
                return true
            }

        });
        A7_next_btn.click(function () {
            var enable_input_A7 = $('input[type=number][class=A7]:enabled')
            //validation
            var error = []
            var sum = 0
            for (var i = 0; i < 3; i++) {
                if (enable_input_A7[i].value === '') {
                    error.push('مقدار برند '
                        + enable_input_A7[i].getAttribute('brand') +
                        ' خالی است.' +
                        '\n'
                    )
                } else {
                    sum += parseInt(enable_input_A7[i].value)
                }
                if (parseInt(enable_input_A7[i].value) < parseInt(enable_input_A7[i].min)) {
                    error.push('مقدار برند '
                        + enable_input_A7[i].getAttribute('brand') +
                        ' کمتر از ' +
                        enable_input_A7[i].min +
                        ' است.' +
                        '\n'
                    )
                }
            }
            //decision making
            if (error.length > 0) {
                alert(error)
                return false
            } else {
                var enable_input_A8 = $('input[type=number][class=A8]:enabled')
                var enable_input_A9 = $('input[type=number][class=A9]:enabled')
                for (var i = 0; i < 3; i++) {
                    var temp = parseInt(enable_input_A7[i].value) / sum * 100
                    enable_input_A8[i].value = temp.toFixed(1)
                    enable_input_A9[i].max = parseInt(enable_input_A7[i].value)
                }
                return true
            }
        });
        A8_next_btn.click(function () {
            console.log('next page A8 send')
            return true
        });
        A9_next_btn.click(function () {
            var enabled_input_A9 = $('input[type=number][class=A9]:enabled')
            //validation
            var error = []
            for (var i = 0; i < 3; i++) {
                if (enabled_input_A9[i].value === '') {
                    error.push('مقداری برای برند ' +
                        enabled_input_A9[i].getAttribute('brand') +
                        ' وارد نشده است' +
                        '\n'
                    )
                } else if (parseInt(enabled_input_A9[i].value) > parseInt(enabled_input_A9[i].max)) {
                    error.push('مقدار وارد شد برای برند ' +
                        enabled_input_A9[i].getAttribute('brand') +
                        ' بیش از مقدار خریداری شده در یک ماه اخیر است' +
                        '\n'
                    )
                } else if (parseInt(enabled_input_A9[i].value) < parseInt(enabled_input_A9[i].min)) {
                    error.push('مقدار وارد شد برای برند ' +
                        enabled_input_A9[i].getAttribute('brand') +
                        ' کمتر از ' +
                        enabled_input_A9[i].getAttribute('min') +
                        ' است' +
                        '\n'
                    )
                }
            }
            //decision making
            if (error.length > 0) {
                alert(error)
                return false
            } else {
                console.log('next page A9 send')
                return true
            }

        });
        A10_next_btn.click(function () {
            var enabled_input_A10 = $('input[type=number][class=A10]:enabled')
            var error = []
            //validation
            for (var i = 0; i < 3; i++) {
                if (enabled_input_A10[i].value === '') {
                    error.push('مبلغی برای برند ' +
                        enabled_input_A10[i].getAttribute('brand') +
                        ' وارد نشده است' +
                        '\n'
                    )
                } else if (parseInt(enabled_input_A10[i].value) < parseInt(enabled_input_A10[i].min)) {
                    error.push('مبلغ وارد شده برای برند ' +
                        enabled_input_A10[i].getAttribute('brand') +
                        ' کمتر از ' +
                        enabled_input_A10[i].getAttribute('min') +
                        ' است.' +
                        '\n'
                    )
                }
            }
            //decision making
            if (error.length > 0) {
                alert(error)
                return false
            } else {
                console.log('next page A10 send')
                return true
            }
        });
        A11_next_btn.click(function () {
            var enabled_select_A11 = $('select[class=A11]:enabled')
            //validation
            var error = []
            if (enabled_select_A11[0].value === '' || enabled_select_A11[1].value === '' || enabled_select_A11[2].value === '') {
                error.push('لطفا  تمام فیلدهای مشخص شده را انتخاب نمایید.' +
                    '\n'
                )
            } else if ((parseInt(enabled_select_A11[0].value) === parseInt(enabled_select_A11[1].value)) ||
                (parseInt(enabled_select_A11[0].value) === parseInt(enabled_select_A11[2].value)) ||
                (parseInt(enabled_select_A11[1].value) === parseInt(enabled_select_A11[2].value))) {
                error.push('لطفا از متفاوت بودن اولویت ها مطمئن شوید' +
                    '\n'
                )
            }
            //decision making
            if (error.length > 0) {
                alert(error)
                return false
            } else {
                console.log('next page A11 send')
                return true
            }
        });
        frm.submit(function () {
            var enabled_select_A12 = $('select[class=A12]:enabled')
            //validation
            var error = []
            for (var i = 0; i < enabled_select_A12.length; i++) {
                if (enabled_select_A12[i].value === '') {
                    error.push('برای برند' +
                        enabled_select_A12[i].getAttribute('brand') +
                        'مقداری انتخاب نشده است.' +
                        '\n'
                    )
                }
            }
            if (error.length > 0) {
                alert(error)
                return false
            } else {
                console.log('next page A12 send')
                return true
            }
        });

    </script>
{% endblock %}
{% block exta_header %}
    <style>
        button {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}