{% extends 'Base.html' %}
{% block title %}
    بخش جملات
{% endblock %}
{% block header %}
    <div class="question">
        <h5>
            {{ A13.code }}
            {{ A13.title }}
        </h5>
    </div>
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="question 1 ">
            <h5>
                {{ A13_1.code }}
                {{ A13_1.title }}
            </h5>
            <div id="option">
                {{ form.A13_1 }}
                {{ form.A13_1_other.label }}
                {{ form.A13_1_other }}
                <div class="clearfix">
                    <button type="button" step="1" name="{{ A13_1.code }}" disabled value="previous"
                            class="float-right btn btn-primary">
                        پرسش قبل
                    </button>
                    <button type="button" step="1" name="{{ A13_1.code }}" value="next"
                            class="float-left btn btn-primary">پرسش
                        بعد
                    </button>
                </div>
            </div>
        </div>
        <div class="question hide 2 ">
            <h5>
                {{ A13_2.code }}
                {{ A13_2.title }}
            </h5>
            <div id="option">
                {{ form.A13_2 }}
                {{ form.A13_2_other.label }}
                {{ form.A13_2_other }}
                <div class="clearfix">
                    <button type="button" step="2" name="{{ A13_2.code }}" value="previous"
                            class="float-right btn btn-primary">
                        پرسش قبل
                    </button>
                    <button type="button" step="2" name="{{ A13_2.code }}" value="next"
                            class="float-left btn btn-primary">پرسش
                        بعد
                    </button>
                </div>
            </div>
        </div>
        <div class="question hide 3 ">
            <h5>
                {{ A13_3.code }}
                {{ A13_3.title }}
            </h5>
            <div id="option">
                {{ form.A13_3 }}
                {{ form.A13_3_other.label }}
                {{ form.A13_3_other }}
                <div class="clearfix">
                    <button type="button" step="3" name="{{ A13_3.code }}" value="previous"
                            class="float-right btn btn-primary">
                        پرسش قبل
                    </button>
                    <button type="button" step="3" name="{{ A13_3.code }}" value="next"
                            class="float-left btn btn-primary">پرسش
                        بعد
                    </button>
                </div>
            </div>
        </div>
        <div class="question hide 4 ">
            <h5>
                {{ A13_4.code }}
                {{ A13_4.title }}
            </h5>
            <div id="option">
                {{ form.A13_4 }}
                {{ form.A13_4_other.label }}
                {{ form.A13_4_other }}
                <div class="clearfix">
                    <button type="button" step="4" name="{{ A13_4.code }}" value="previous"
                            class="float-right btn btn-primary">
                        پرسش قبل
                    </button>
                    <button type="button" step="4" name="{{ A13_4.code }}" value="next"
                            class="float-left btn btn-primary">پرسش
                        بعد
                    </button>
                </div>
            </div>
        </div>
        <div class="question hide 5 ">
            <h5>
                {{ A13_5.code }}
                {{ A13_5.title }}
            </h5>
            <div id="option">
                {{ form.A13_5 }}
                {{ form.A13_5_other.label }}
                {{ form.A13_5_other }}
                <div class="clearfix">
                    <button type="button" step="5" name="{{ A13_5.code }}" value="previous"
                            class="float-right btn btn-primary">
                        پرسش قبل
                    </button>
                    <button type="button" step="5" name="{{ A13_5.code }}" value="next"
                            class="float-left btn btn-primary">پرسش
                        بعد
                    </button>
                </div>
            </div>
        </div>
        <div class="question hide 6 ">
            <h5>
                {{ A13_6.code }}
                {{ A13_6.title }}
            </h5>
            <div id="option">
                {{ form.A13_6 }}
                {{ form.A13_6_other.label }}
                {{ form.A13_6_other }}
                <div class="clearfix">
                    <button type="button" step="6" name="{{ A13_6.code }}" value="previous"
                            class="float-right btn btn-primary">
                        پرسش قبل
                    </button>
                    <button type="button" step="6" name="{{ A13_6.code }}" value="next"
                            class="float-left btn btn-primary">پرسش
                        بعد
                    </button>
                </div>
            </div>
        </div>
        <div class="question hide 7 ">
            <h5>
                {{ A13_7.code }}
                {{ A13_7.title }}
            </h5>
            <div id="option">
                {{ form.A13_7 }}
                {{ form.A13_7_other.label }}
                {{ form.A13_7_other }}
                <div class="clearfix">
                    <button type="button" step="7" name="{{ A13_7.code }}" value="previous"
                            class="float-right btn btn-primary">
                        پرسش قبل
                    </button>
                    <button type="submit" step="7" class="float-left btn btn-success">تایید نهایی
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block exta_header %}
    <style>
        button {
            margin: 10px;
        }
    </style>
{% endblock %}
{% block js %}
    <script>
        $('button').addClass('col-lg-5 col-md-5 col-sm-5 col-5')
        $('button[type=button][value=next]').click(function () {
            var selected_item_step = $(this).attr('step')
            var count = $('input[type=checkbox][class=' + selected_item_step + ']:checked').length
            var text_len = $('input[type=text][class=' + selected_item_step + ']').val()
            console.log(text_len)
            if (count == 0 && text_len == "") {
                alert('کاربر گرامی لطفا یک گزینه را انتخاب و یا فیلد سایر را تکمیل نمایید')
            } else {
                $('div.' + selected_item_step + '').addClass('hide')
                $('div.' + ++selected_item_step + '').removeClass('hide')
            }
        });
        $('button[type=submit]').click(function () {
            var selected_item_step = $(this).attr('step')
            var count = $('input[type=checkbox][class=' + selected_item_step + ']:checked').length
            var text_len = $('input[type=text][class=' + selected_item_step + ']').value
            if (count == 0 && text_len == undefined) {
                alert('کاربر گرامی لطفا یک گزینه را انتخاب و یا فیلد سایر را تکمیل نمایید')
                return false
            } else {
                return true
            }
        });
        $('button[type=button][value=previous]').click(function () {
            var selected_item_step = $(this).attr('step')
            $('div.' + selected_item_step + '').addClass('hide')
            $('div.' + --selected_item_step + '').removeClass('hide')
        });
        $('form').submit(function () {
            var agree = confirm('پس از تایید پرسشنامه ویرایش آن امکان پذیر نیست')
            if (agree == true) {
                $('button[type=button][name=A13-7]').attr('disabled', true)
                $('button[type=submit]').html('<span class="spinner-border spinner-border-sm"></span>').attr('disabled', true)
                return true
            } else {
                return false
            }
        });
    </script>
{% endblock %}